<footer>
    
    <p><i class="fa-regular fa-copyright"></i>Raghevndra Bysani.  All Rights Reserved</p>
    <!-- <p> &#169; Raghevndra Bysani.  All Rights Reserved</p> -->
    <ul>
        <% if(locals.user){ %>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
        <% } %>
    </ul>
</footer>