
<h1>
        Codeial / <%= title %>
</h1>

<section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new--post-form" method="post">
                <textarea name="content" cols="30" rows="3"></textarea> 
                <input type="submit" value="Post">
        </form>
        <div id="posts-list-container">
                <ul>
                        <p>
                                <% for(post of posts){%>
                                        <li><%= post.content %></li>
                                        <small><%= post.user.name %></small>
                                <% } %>
                        </p>
                </ul>
        </div>
</section>
