#home-container{
    height: 96.5%;
    display: flex;
    #feed-posts{
        width: 70%;
        height: 100%;
        padding: 10px;
    }
    #user-friends{
        width:30%;
        padding:10px;
        border-left: 1px solid black;
        height:100%;
    }
}