footer {
  position: fixed;
  width: 100%;
  height: 7%;
  color: white;
  background-color: blue;
  display: flex;
  align-items: center; }
  footer p {
    margin-left: 1%; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      color: white;
      text-decoration: none; }
